[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
statsmodels = "*"

[requires]
python_version = "3.8"
